- if user_signed_in?
  = link_to('Logout', destroy_user_session_path, method: :delete, class: 'button--logout')
- else
  = link_to('Login', new_user_session_path, class: 'button--logout')
%h1 Hello #{current_user.email}
%p Please find list of your monitored wallets attached

%table
  %thead
    %tr
      %th Wallet address
      %th Number of transactions
      %th Balance
      %th
  %tbody
    - if !@wallets_data.is_a? String
      -@wallets_data.each do |wallet_data|
        - wallet = @wallets.where(address: wallet_data["account"]).first
        %tr
          %td=wallet_data["account"]
          %td=@transactions_numbers[wallet_data["account"]]
          %td=((wallet_data["balance"].to_f)/10**18).to_s + " ETH"
          %td= link_to 'Show', wallet_path(wallet.id)
= link_to 'Add Wallet', new_wallet_path, class: 'button'



